.header-wrap{
    width: 1170px;
    margin: 0 auto;

}
.header-logo{


}
.header-menu{
}
.menu-list{

}
.header-left{
    display: inline-block;
}
.header-right{
    margin-right: 14%;
    display: inline-block;

}
.menu-item{
    display: inline-block;
    padding: 0 75px;
}
.menu-item a {
    color: black ;
    text-decoration: none;
    color: #FF0000;



}
.png{
    width: 1100px;
    height: 700px;

}
.menu-item.active {
    color: #f1b128;
}
.images-section{
    width: 1170px;
    margin: 0 auto;
}
.header{

}
.rep{
    width: 500px;
    margin-top:48px;
    margin-left:353px;
}
.text{
    width: 950px;
    margin-top:48px;
    margin-left:67px;
}
.button{
    width: 191px;
    height: 51px;
    margin-top:66px;
    margin-left:430px;
    background: #FF0000;
    border-radius: 4px;

}